AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY+uyoMmgOvGGi6fcTmtE1odVx
S3_UPLOAD_FACE_BUCKET_NAME=faces-bucket
AWS_LIVENESS_CHECK_REGION_NAME=us-east-1
AWS_REGION_NAME=sa-east-1
APP_ENV=dev
JAEGER_HOST=jaeger-tracing
JAEGER_PORT=6831
DETECT_FACE_CONFIDENCE_THRESHOLD=95
FACE_MATCH_CONFIDENCE_THRESHOLD=98